.background {
    background-image: url('../../assets/img/DSC06575.jpg');
    background: cover;
    background-size: 100% auto;
    height: 85vh;
}

.title {
    font-style: italic;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    color: #E7DDD2;
    font-weight: 600;
    text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}

.grp {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.btn {
    background-color: #F2E6DF;
    cursor: pointer;
    font-size: 18px;
    padding: 20px 60px;
    font-weight: 400;
}

.left {
    border-radius: 50px 0 0 50px;
    border: none;
    border-right: 2px solid black;
}
.right {
    border-radius: 0 50px 50px 0;
    border: none;
    border-left: 2px solid black;
}